.MiddleContent{
    height : 350px;
    /* width : 33.3%; */
    /* margin :auto; */
    /* position: absolute;
    left: 50%;
    right : 50%; */
  
}

.threepages{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.middle-section{
    display: flex;
    flex-direction: column;
}

@media  screen and (max-width : 600px) {
    .middle-section{
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    
    
}   