.svg{
    position: relative;
    /* z-index: 2; */
    opacity: 0;
}

@media  screen and (max-width : 600px) {
    .svg{
      height : 250px;
      
    }
    
} 

@media  screen and (max-width : 400px) {
    .svg{
      height : 250px;
    }
    
}   