.deemag{
    /* height : 200%; */
    width : 100%;
    position: relative;
    top : 0px;
    left : -50%;
    transform-origin: center;
    /* top : 40%; */
    /* transition: transform 5s; */
    /* top : -10%; */
}

